#experience{
    background-color: rgb(22, 22, 22);
    padding-top: 150px;
    padding-bottom: 150px;
}

.experience_intelbras{
    font-size: 20px;
    text-align: center;
    max-width: 1064px;
    margin: 0 auto;
}

.experience_intelbras li{
    padding: 10px;
}