footer {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_contato{
    color: white;
    font-family: monospace;
    font-size: 20px;
}

.footer_contato p{
    padding: 10px;
}

.icons{
    display: flex;
    flex-direction: row;
}

.icon{
    max-width: 60px;
    padding: 0 20px;
}
