/* criando barra de navegação*/
.content_list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
}

.content_menu{
    color: white;
    font-family: monospace;
    font-size: 18px;
    text-decoration: none;
}

.content_menu:hover{
    color: rgb(118, 121, 184);
    transition: 300ms linear;
}

/* barra de navegação terminada */