#projects{
    padding-top: 150px;
    padding-bottom: 300px;
    min-height: 35vh
}


.projects_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    row-gap: 10%;
    padding-top: 40px;
}

.projects_description{
    font-size: 20px;
    max-width: 1064px;
    margin-left: 10px;
    text-align: center;
}

.projects_description li{
    margin-top: 20px;
    padding: 5px;
}

.projects_image{
    width: 500px;
    height: 250px;
    transition: 0.5s;
    border-left: 5px solid #1b6796;
}

.projects_image:hover {
    transform: scale(110%);
    border-left: 5px solid rgba(101, 24, 180, 1);
}

.projects_text {
    max-width: 600px;
    margin-left: 120px;
}
  