#skills{
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #0b2535;
}


.content_description{
    font-size: 20px;
    text-align: center;
}

.skills_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    padding-top: 40px;
    row-gap: 10%;
    column-gap: 2%;
}

.skills_text{
    font-size: 20px;
    text-align: center;
    min-width: 300px;
    margin: 10px;
}

.skills_item{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

@media screen and (max-width: 1440px) {

.skills_list{
    grid-template-columns: 1fr;
    margin: auto;
    gap: 5%;

}
#skills{
    padding-bottom: 400px;
}
.skills_text{
    margin: 0 10px;
}
}