#skills{
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #0b2535;
}


.content_description{
    font-size: 20px;
    text-align: center;
}

.skills_list{
    display: flex;
    flex-direction: row;
    max-width: 1900px;
    margin: 0 auto;
}